<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alias</title>
</head>
<body>
    <form method="post" action="/">
        <input name="query" type="text" autofocus placeholder="Search term">
        <input name="submit" type="submit" hidden>
    </form>
</body>
</html>