<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet.css">
    <title>Alias</title>
</head>
<body>
    <div class="searchDescription" id="searchDescription">
        Searching 
        <div class="description"  id="website">
            google
        </div> 
        =>
        <div class="description" id="searchTerm">

        </div>  
    </div>
    <div class="searchArea">
        
        <input name="query" type="text" class="searchBox" autofocus
            id="searchBox" autocomplete="off" placeholder="Search term">
        <img src="/icons/search.svg" class="searchIcon">
    </div>

    <div id="aliasPopUp" class="popUp">
        Hello this will be where you can find more information about the aliases
        you have and how to use them (Escape to close)
    </div>

    <!-- <script src="/config.json"></script> -->
    <script type="module" src="/scripts/searchBox.js"></script>
</body>
</html>