html{
    font-family:monospace;
    font-size: 15px;
    font-weight: 200;
}

.searchArea{
    display: flex;
    justify-content: center;
    padding: 20px;
}

textarea:focus, input:focus{
    outline: none;
}

.searchBox{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-style: none;
    height: 30px;
    width: 80%;
    outline-width: 0;
    background-color: rgb(240, 240, 240);
}

.searchIcon{
    background-color: rgb(240, 240, 240);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;    

}

.searchDescription{
    margin-left: 10%;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.description{
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
}